#logo{
    
    }
    body{
        background-color: #f5f1f1f8;
    }
    #total-orders{
        background-color: #daf2f7;
    }
    #orders-delivered{
        background-color: #bfeef5;
    }
    #orders-pending{
        background-color: #afeaf3;
    }
    #orders-cancelled{
        background-color: #71e3f5;
        
    }

