{% extends 'accounts/main.html' %}

{% block content %}

<div class="container col-md-12">
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body">
                    <h5>Customer</h5>
                    <hr>
                
                <div class="card card-body">
                    <button type="button" class="btn btn-primary">
                        Update Customer
                    </button>
                <br>
                    <button type="button" class="btn btn-danger">
                        Delete Customer
                    </button>
                </div>
            </div>
            </div>
                <div class="row">
                    <div class="col-md">        
                        <div class="card card-body">
                            <h5>Contact Information</h5>
                            <hr>
                            <p class="card-text">Name: {{ customers.name }}</p>
                            <p class="card-text">Email: {{ customers.email }}</p>
                            <p class="card-text">Phone: {{ customers.phone }}</p>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md">        
                                <div class="card card-body">
                                    <h5>Total Orders</h5>
                                    <hr>
                                    <h1 class="card-text">{{customers.order_set.count}}</h1>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
    
        <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <label class="form-label" for="search">
                        <input type="text" id="search" placeholder="Search" class="form-control" >
                    </label>        
                </div>
            </div>
        </div>
        <br>

        <div class="row"> 
            <div class="col-md">
                <div class="card card-body">
                    <h5>Products</h5>  
                    <hr>           
                
                <div class="card card-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Date Ordered</th>
                            <th>Status</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </tr>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.product.name }}</td>
                            <td>{{ order.product.category }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status }}</td>
                            <td><a class="btn btn-info" href="/">Update</a></td>
                            <td><a class="btn btn-danger" href="/">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>              
        </div>
</section>
</div>



{% endblock %}