{% load static %}
<style>
  .hello-msg {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-right: 20px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="{% url 'home' %}">
      <img src="{% static 'images/logo.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
  </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if request.user.is_staff %}
        <a class="nav-item nav-link active" href="{% url 'home' %}">Dashboard</a>
        <a class="nav-item nav-link" href="{% url 'products' %}">Products</a>   
        {% endif %}
      </div>
    </div>
    <span class="hello-msg">Hello {{request.user}}</span> 
    <span class="hello-msg">| <a href="{% url 'logout' %}">Logout</a></span>
  </nav>